body {
    margin: 0;
    padding: 0;
    background-color: rgb(35, 39, 46);
    
}

.container {
    background-color:rgb(202, 203, 204);
    width: 650px;
    height: 100px;
    margin: auto;
    text-align: center;
}
